html { background:#E0F4FF ;}
body {
    font-family: Verdana;
}

h1 {    color:#FFEED9 ;
	background-color:#39A7FF ;
	text-align:center;}
	
h1.logo {text-align:left;}
h2 {    color:#FFEED9 ;
	background-color:#39A7FF  ;
	padding:4px}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid black;
  padding: 8px;
}


