{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher's Assistant</title>
    <!-- Add any additional meta tags, links, or scripts here -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
<integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
    <header>
        <h1>My Little Plan Maker</h1>
        <!-- Add navigation or header content here -->
    </header>

    <main>
	    {% block content %}
	    {% endblock %}
    </main>

    <footer>
        <!-- Footer content goes here -->
        <p>&copy; 2023 My Little Plan Maker</p>
    </footer>
</body>
</html>

