{% extends 'groups/base.html' %}

{% block content %}


<h2>Group: {{group.level}}</h2>

<a href="{% url 'new_lesson' lvl=group.level %}">
                    {% include './icons/calendar2-check.svg' %}create new lesson</a>
                    <br>
<a href="{% url 'add_student' lvl=group.level %}">
	{% include './icons/person-plus.svg' %}add student</a>

<br>

<a href="{% url 'get_status' lvl=group.level %}">
		    {% include './icons/clipboard-data.svg' %}download group status as a docx file</a>
<br>
<a href="{% url 'group_list' %}">
	{% include './icons/arrow-return-left.svg' %}go back to group list</a>
<br>

<h3>Students Attending</h3>

{% for student in students_in %}
<br>
<h5>{{student}}</h5>
<h6><a href="{% url 'student_info' lvl=group.level  pk=student.pk %}">
			{% include './icons/bar-chart-fill.svg' %}   Student Info</a>
<a href="{% url 'single_grade' lvl=group.level pk=student.pk %}">
		    	{% include './icons/award.svg' %}   Grade Student</a>
<a href="{% url 'delete_student' lvl=group.level pk=student.pk %}">
		    	{% include './icons/person-x-fill.svg' %}   Delete Student</a>
</h6>
{% endfor %}

<br>


<h3>Lessons Completed</h3>


{% for lesson in lessons %}
<br>
<h5>{{lesson.date}}  {{lesson.subject}}</h5>
<h6><a href="{% url 'edit_lesson' lvl=group.level pk=lesson.pk %}">
			{% include './icons/list-check.svg' %}   Edit Lesson</a>
<a href="{% url 'delete_lesson' lvl=group.level pk=lesson.pk %}">
		    	{% include './icons/trash.svg' %}   Delete Lesson</a></h6>
{% endfor %}



{% endblock %}
