{% block content %}

<a href="{% url 'group_lessons' lvl=student.group.level %}">
		{% include './icons/arrow-return-left.svg' %} Go back to the group</a>

<h3>{{student}}</h3>

<h4>Notes about the student: <a href="{% url 'edit_opinion' lvl=group.level pk=student.pk %}">
		    {% include './icons/card-text.svg' %}Edit Note</a></h4>
{{student.opinion}} 
<br>


<a href="{% url 'single_grade' lvl=group.level pk=student.pk %}">
		    {% include './icons/award.svg' %}Grade Student</a>
		    <br>
<h4>Grades:</h4>

{% for grade in grades %}
<h5>{{grade.grade}} {{grade.description}} {{grade.date}}<a href="{% url 'edit_grade' lvl=group.level pk=student.pk pk2=grade.pk %}">edit grade</a><a href="{% url 'delete_grade' lvl=group.level pk=student.pk pk2=grade.pk %}">delete grade</a></h5>
{% endfor %}

<h4>Absencies:</h4>

{% for lesson in lessons_absent %}
<h5>{{lesson.date}}</h5>
{% endfor %}



{% endblock %}

