{% extends 'groups/base.html' %}

{% block content %}

<a href="{% url 'group_lessons' lvl=student.group.level %}">
		{% include './icons/arrow-return-left.svg' %} Go back to the group</a>

<h2>{{student}}</h2>

<h4>Notes:</h4> 
{% for note in notes %}
<h5>{{note.note}}  ({{note.date}})  <a href="{% url 'delete_note' lvl=group.level pk=student.pk pk2=note.pk %}">{% include './icons/trash.svg' %}</a></h5>
{% endfor %}
<a href="{% url 'edit_opinion' lvl=group.level pk=student.pk %}">
		    {% include './icons/card-text.svg' %}Add Note</a></h4>
<br>
<br>

<h2>Grades:</h2>
<a href="{% url 'single_grade' lvl=group.level pk=student.pk %}">
		    {% include './icons/award.svg' %}Grade Student</a>

<table>
<colgroup>
      <col style="width: 5%;"> <!-- Set the width of the first column to 30% for table1 -->
      <col style="width: 30%;"> <!-- Set the width of the second column to 70% for table1 -->
      <col style="width: 25%;"> <!-- Set the width of the first column to 30% for table1 -->
      <col style="width: 40%;"> <!-- Set the width of the second column to 70% for table1 -->
    </colgroup>
<tr>
<th>Grade</th>
<th>Info</th>
<th>Date</th>
<th>Actions</th>
</tr>
		   
{% for grade in grades %}
<tr>
<td>{{grade.grade}}</td>
<td>{{grade.description}}</td>
<td>{{grade.date}}</td>
<td><a href="{% url 'edit_grade' lvl=group.level pk=student.pk pk2=grade.pk %}"> edit grade</a>
<     >    
<a href="{% url 'delete_grade' lvl=group.level pk=student.pk pk2=grade.pk %}">delete grade</a></h5>
</td>
<tr>
{% endfor %}

</table>

<h2>Absencies:</h2>

{% for lesson in lessons_absent %}
<h5>{{lesson.date}}</h5>
{% endfor %}



{% endblock %}

